h1 {
    color:cornsilk;
}

* {
    border: solid;
    color:rgb(91, 59, 48);
    justify-content: space-between;
}

.item:hover img {
    opacity: 0.33;
}

a:link{
    color:blanchedalmond;
    text-decoration: none;
}

a:visited{
    color:blanchedalmond;
    text-decoration: none;
}

.item {
    position: relative;
}

.item p {
    position: absolute;
    top: 10%;
    left: 15%;
    opacity: 0;
}

.item:hover p {
opacity: 1;
}

.header{
    background-color:lightsalmon;
    display: flex;
}

.site-description{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.grid img{
    border: 2px solid darksalmon;
    border-radius: 50px;
}

.origami {
    border-radius: 2px solid 20px;
    background-color: darksalmon;
    padding: 30px;
    margin: 25px;
    width: 310px;
    font-family: fantasy;
}

.origami:hover{
    transform: scale(1.2);
}

.footer{
    display: flex;
    justify-content: flex-end;
}

.menu {
    display: flex;
    justify-content: space-between;
    background-color:lightsalmon;
    padding: 15px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color: seashell;
}

p,h2{
    text-align: center;
}

body{
    margin: 0px;
    background-color: blanchedalmond;
}